.alert-assign-block {
  .block-content {
    .ant-col {
      padding: 4px 10px !important;
    }
  }

  .save-button {
    background: green !important;
    border: 0 !important;
    margin-left: 20px;
  }

  .upload-list-inline .ant-upload-list-item {
    float: left;
    width: 370px;
    margin-right: 8px;
  }
  
  .upload-list-inline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
  }
  .upload-list-inline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
  }

}
