.alert-creator-block {
  center {
    padding: 0 0 10px;
  }

  .alert {
    background: rgba(255, 255, 255, .9);
    border: 1px rgba(0, 0, 0, .1) solid;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    position: relative;
  }

  .alert-header {
    background: rgba(0, 0, 0, .2);
    border-radius: 5px;
    color: white;
    margin: 8px 0 0 0;
    padding: 5px;
    position: relative;
    text-align: center;

    button {
      float: right;
    }
  }

  .block-footer {
    height: 50px;
    position: relative;

    .recipients {
      position: absolute;
      right: 10px;
      top: 5px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          float: left;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
