.monitoring {
	.page-content.notAlert {
		background-color: transparent;
		background-image: url('./bg.png');
    padding-right: 0;
	}
  
  .new-alert-modal {
    border: 1px #f00 solid;
    height: 100px;
  }
}
