.profile {
  .topbar {
    background-color: rgba(255, 255, 255, .5);
    border-bottom: 1px rgba(0, 0, 0, .15) solid;
    overflow: hidden;
    padding: 15px;

    .download-report-button {
      margin-right: 5px;
    }
  }
}
