.modal-files {
	box-shadow: 1px -1px 62px -13px rgba(0, 0, 0, 0.82);
-webkit-box-shadow: 1px -1px 62px -13px rgba(0, 0, 0, 0.82);
-moz-box-shadow: 1px -1px 62px -13px rgba(0, 0, 0, 0.82);
	border-radius: 5px !important;
	margin-bottom: 0;
	overflow: hidden;
	padding-bottom: 0;
	top: 300px;
	width: 600px !important;

	.ant-modal-close-x {
		color: white;
		height: auto;
		line-height: 1em;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 9px;
		width: auto;
	}

	.ant-modal-body {
		min-height: auto;
		padding: 0;

		.box-inner {
			padding: 10px 0px 10px 0px;
		}

		.box {
			background: rgba(0, 0, 0, .1);
			position: relative;
			animation-duration: 3s;
			animation-fill-mode: forwards;
			animation-name: content-fade-in;
			opacity: 0;

			@keyframes content-fade-in {
				to {
					opacity: 1;
				}
			}

			h2 {
				-webkit-box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.5);
				-moz-box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.5);
				box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.5);
				background: rgba(0, 0, 0, .4);
				color: white;
				font-size: 1.1em;
				height: 35px;
				line-height: 35px;
				margin-bottom: 0;
				text-indent: 10px;
			}

			&:first-child {
				h2 {
					box-shadow: none;
				}
			}
		}
	}

	.foot {
		background: rgba(0, 0, 0, .3);
		-webkit-box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.35);
		-moz-box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.35);
		box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.35);
		padding: 10px 0 8px;
		text-align: center;
	}

  .bottom {
    background: #eee;
    padding: 5px 0;
    text-align: center;
  }
}
