.alert-assign-block {
  .block-content {
    .ant-col {
      padding: 4px 10px !important;
    }
  }

  .save-button {
    background: green !important;
    border: 0 !important;
    margin-left: 20px;
  }
}
