.box.container-top{
	margin-bottom: 8px;
	margin-left: 20px;
}


.tab-indicators {
  background: rgba(255, 255, 255, .1);
  border-radius: 10px !important;
  border: 1px rgba(0, 0, 0, .15) solid;
  margin: 0px 40px 20px 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 39px -8px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 39px -8px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 39px -8px rgba(0,0,0,0.1);


	.card-dropdown {
		float: right;
		margin-bottom: 10px;
	}

	.table-renderer {
		padding: 0px;
		height: 20px;
		border: 0;
		padding-right:5px ;
	} 


	.ytitle{
		font-size: 12px !important;
	}





	.no-data{
		text-align: center;
	}



  .spinner{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plot-container{


  }


	.ant-modal-body {
		// min-height: 400px;
    padding: 0;
    


 



		.box {
			background: rgba(0, 0, 0, .1);
			position: relative;
			animation-duration: 3s;
			animation-fill-mode: forwards;
			animation-name: content-fade-in;
			opacity: 0;




			@keyframes content-fade-in {
				to {
					opacity: 1;
				}
			}

			h2 {
				-webkit-box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.5);
				-moz-box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.5);
				box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.5);
				background: rgba(0, 0, 0, .4);
				color: white;
				font-size: 1.1em;
				height: 35px;
				line-height: 35px;
				margin-bottom: 0;
				text-indent: 10px;
			}

			&:first-child {
				h2 {
					box-shadow: none;
				}
			}



      .ant-table-body {
        margin: 0 !important;
        padding: 0;
      }

			.download-report {
				position: absolute;
				right: 10px;
				top: 5px;

				.ant-btn {
					font-size: 0.8em;

					a {
						color: white;
						text-decoration: none;
					}
				}
			}

			.box-inner {
				-webkit-box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.3);
				-moz-box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.3);
				box-shadow: inset 0px 6px 10px -6px rgba(0,0,0,0.3);
				padding-bottom: 0px;

				.input-wrapper {
					padding-left: 5px;
					padding-right: 5px;

					span.label {
						display: block;
						padding-bottom: 0;
					}
				}

				.ant-table {
					.ant-table-thead > tr > th {
						background: rgba(0, 0, 0, .1);
						padding: 5px 0 0 10px;
					}
				}

				td{
					font-size: 0.8em;
				}

				.parameters-collection{
					&:first-child{
						padding-top: 10px;
					}
					&:last-child{
						padding-bottom: 10px;
					}
			
				}

	

			}
		}
  }
  

  .ant-row {
		padding: 5px 5px;

		.ant-col {
			.col-inner {
				background: rgba(255, 255, 255, .5);
				// border: 1px rgba(0, 0, 0, .1) solid;
				border-radius: 5px;
				margin: 0 5px;
				overflow: hidden;

				.key {
					padding: 0 5px;
					background: rgba(0, 0, 0, .3);
					// border-bottom: 1px rgba(0, 0, 0, .05) solid;
					// border-radius: 2px;
					color: rgba(255, 255, 255, .99);
          font-size: 1em;
          margin: 5px;
          line-height: 20px;

					&.collection{
						height: auto;
						line-height: 23px;
						margin: 3px;
					
						.inner-div{
		
							border-radius: 2px;
						}


					}
					.ant-checkbox-wrapper{
						font-size: 12.8px;
					}
					.ant-checkbox-inner{
						width:12px;
						height: 12px;
					}
				}

		

				.value {
					box-shadow: inset 0px 6px 10px -6px rgba(56, 51, 51, 0.1);
					-moz-box-shadow: inset 0px 6px 10px -6px rgba(56, 51, 51, 0.1);
					-webkit-box-shadow: inset 0px 6px 10px -6px rgba(56, 51, 51, 0.1);
					line-height: 23px;
					height: auto;
					margin: 3px 0;
					color: rgba(0, 0, 0, .5);
					font-size: 0.9em;
					padding: 0 5px;

					.ant-radio-group {
						width: 100% !important;
					}

					textarea {
						border-color: rgba(0, 0, 0, .2);
						border-radius: 5px;
						height: 100px;
						margin: 3px 0;
						width: 100%;
					}

					.value-items {
						list-style-type: none;
						margin: 0;
						padding: 0;
						width: 100%;

						li {
							border-bottom: 1px rgba(0, 0, 0, .1) solid;
							display: block;
							float: none;
							width: 100%;
							font-size: 0.7em;
							font-weight: normal;
							padding: 2px 0 4px;
							width: 100%;

							.ant-radio-wrapper {

							}

							&:last-child {
								border-bottom: 0;
							}
						}
					}
				}
			}
		}

		&:last-child {
		}
	}




  .big-tabs {
    background: rgba(0, 0, 0, .5);

    ul {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      padding: 0;

      li {
        border-right: 1px rgba(0, 0, 0, .5) solid;
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
        float: left;
        letter-spacing: 0.1em;
        line-height: 40px;
        height: 40px;
        text-align: center;

        &.with-1 {
          width: 100% !important;
        }

        &.with-2 {
          width: 50% !important;
        }

        &.with-3 {
          width: 33.333% !important;
        }

        &.active {
          -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.38);
          -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.38);
          box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.38);
          background: rgba(255, 255, 255, .7);
          color: rgba(0, 0, 0, .5);
        }

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  .big-contents {
    webkit-box-shadow: 0px -4px 34px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px -4px 34px 0px rgba(0,0,0,0.38);
    box-shadow: 0px -4px 34px 0px rgba(0,0,0,0.38);
    overflow: hidden;
    position: relative;
    z-index: 10;

    .big-contents-item {
      min-height: 601px;
      display: none;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-name: itemAppears;

      @keyframes itemAppears {
        from {
          transform: translateX(0);
        }

        to {
          transform: translate(-1000px);
        }
      }

      &.active {
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-name: sectionAppears;
        display: block;

        @keyframes sectionAppears {
          from {
            opacity: 0;
            transform: translateX(2000px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }

      .big-contents-item-inner {
        -webkit-box-shadow: 0px 0px 500px 68px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 500px 68px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 500px 68px rgba(0,0,0,0.1);

        .ant-row {
          .ant-col {
            background: rgba(255, 255, 255, .3);

            .col-inner {
              border-bottom: 1px rgba(0, 0, 0, .15) solid;
              border-right: 1px rgba(0, 0, 0, .15) solid;
              padding: 20px;
              height: 360px;

              // &.loading {
              //   background: url('./spinner.gif') no-repeat center center !important;
              // }

              h4 {
                background: rgba(0, 0, 0, .5);
                border-bottom: 1px rgba(0, 0, 0, .1) solid;
                border-radius: 5px;
                color: rgba(255, 255, 255, .5);
                height: 40px;
                margin-bottom: 20px;
                line-height: 40px !important;
                line-height: 1em;
                text-align: center;
              }
            }
          }
        }
      }
    }


    .darkie {

      &.first {
        .col-inner {
          background-color: rgba(0, 0, 0, .01);
          -webkit-box-shadow: inset 29px -27px 47px -16px rgba(0,0,0,0.07);
          -moz-box-shadow: inset 29px -27px 47px -16px rgba(0,0,0,0.07);
          box-shadow: inset 29px -27px 47px -16px rgba(0,0,0,0.07);
        }
      }

      &.last {
        .col-inner {
          background-color: rgba(0, 0, 0, .01);
          -webkit-box-shadow: inset -29px 27px 47px -16px rgba(0,0,0,0.07);
          -moz-box-shadow: inset -29px 27px 47px -16px rgba(0,0,0,0.07);
          box-shadow: inset -29px 27px 47px -16px rgba(0,0,0,0.07);
        }
      }
    }
  }
}
